{% extends 'template.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
    <h3 class="text-center mt-3">{{ message }}</h3>
    <form class="mt-4" action="{% url 'change_password' %}" method="post">
        {% csrf_token %}

        <div class="form-group">
            <label for="oldPassword">Old Password</label>
            <input type="password" class="form-control" id="oldPassword" name="oldPassword">
        </div>
        <div class="form-group">
            <label for="newPassword">New Password</label>
            <input type="password" class="form-control" id="newPassword" name="newPassword">
        </div>
        <div class="form-group">
            <label for="newPasswordRepeat">Confirm New Password</label>
            <input type="password" class="form-control" id="newPasswordRepeat" name="newPasswordRepeat">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock %}
