{% extends "template.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="row text-center mb-2 mt-4">
        <div class="col"><h1>How it works?</h1></div>
    </div>
    <div class="row text-center">
        <div class="col">
            <svg version="1.1" x="0px" y="0px" viewBox="0 0 100 100" style="width: 256px; height: 256px;">
                <path d="M8.1,85.8V98h54.1V85.8c0-7.4-5.7-13.1-13.1-13.1H21.3C14.2,72.7,8.1,78.5,8.1,85.8z"></path>
                <path d="M35.1,67.3c8.3,0,15.1-6.8,15.1-15.1s-6.8-15.1-15.1-15.1S20,43.9,20,52.2C20.2,60.5,26.8,67.3,35.1,67.3z"></path>
                <path d="M70.5,69.5c6.6,0,11.8-5.4,11.8-11.8s-5.4-11.8-11.8-11.8c-6.6,0-11.8,5.4-11.8,11.8S63.9,69.5,70.5,69.5z"></path>
                <path d="M81.4,73.8H61c3.4,2.9,5.5,7.3,5.5,12.1L67,98h24.8V84.1C91.8,78.4,87.2,73.8,81.4,73.8z"></path>
                <path d="M67,13.4c-0.5,0-1,0.4-1,1v5.9c0,0.5,0.4,1,1,1h5.1c0.5,0,1-0.4,1-1c0-0.5-0.4-1-1-1h-4.1v-4.9  C67.9,13.9,67.5,13.4,67,13.4z"></path>
                <path d="M83.9,15.9C81.5,6.5,71.8,0.8,62.3,3.3c-9.4,2.5-15.1,12.2-12.6,21.6c1.2,4.5,4,8.1,7.6,10.4l-4.6,7.1  l18.7-4.9C80.8,35.1,86.4,25.4,83.9,15.9z M66.8,29.8c-5.5,0-9.9-4.4-9.9-9.9c0-5.5,4.4-9.9,9.9-9.9c5.5,0,9.9,4.4,9.9,9.9  C76.8,25.3,72.3,29.8,66.8,29.8z"></path>
                <text x="0" y="115" fill="#000000" font-size="5px" font-weight="bold"
                      font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif">Created by Aneeque
                    Ahmed
                </text>
                <text x="0" y="120" fill="#000000" font-size="5px" font-weight="bold"
                      font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif">from the Noun
                    Project
                </text>
            </svg>
            <br>
            <h3>Events</h3>
            <p>Simply schedule your events for a given date and time with flexibility around time intervals, dates and locations.</p></div>
        <div class="col">
            <svg viewBox="0 0 100 100" x="0px" y="0px" style="width: 256px; height: 256px;"><title>Artboard 21</title>
                <path d="M95.55,45.41l-1.33-1,2.17-3a9.3,9.3,0,0,0-2.1-13L92,26.8a9.3,9.3,0,0,0-13,2.11l-35.27,49A2.5,2.5,0,0,0,43.28,79L41,96.17a2.5,2.5,0,0,0,3.57,2.57l15.59-7.57a2.5,2.5,0,0,0,.94-.79L91.29,48.51l1.33,1a2.73,2.73,0,0,1,.62,3.82l-10.85,15a2.5,2.5,0,1,0,4.06,2.92l10.85-15a7.73,7.73,0,0,0-1.75-10.8Zm-49,46.81L47.9,82.16a9.6,9.6,0,0,1,7.81,5.63ZM92.33,38.52,59.44,84.16a14.53,14.53,0,0,0-9.28-6.69L83.05,31.83a4.3,4.3,0,0,1,6-1l2.31,1.66A4.3,4.3,0,0,1,92.33,38.52Z"></path>
                <path d="M34.78,85.37H9.44a3.2,3.2,0,0,1-3.2-3.2V29h57.5v5.83a2.5,2.5,0,0,0,5,0V17.65a8.21,8.21,0,0,0-8.2-8.2H57.9v-6a2.5,2.5,0,0,0-5,0v6H44.29v-6a2.5,2.5,0,0,0-5,0v6H30.69v-6a2.5,2.5,0,0,0-5,0v6H17.08v-6a2.5,2.5,0,0,0-5,0v6H9.44a8.21,8.21,0,0,0-8.2,8.2V82.18a8.21,8.21,0,0,0,8.2,8.2H34.78a2.5,2.5,0,0,0,0-5ZM6.24,17.65a3.2,3.2,0,0,1,3.2-3.2H60.55a3.2,3.2,0,0,1,3.2,3.2V24H6.24Z"></path>
                <circle cx="16.85" cy="43.8" r="2.97" transform="translate(-30.06 44.99) rotate(-70.41)"></circle>
                <circle cx="16.85" cy="56.88" r="2.97" transform="translate(-42.38 53.68) rotate(-70.41)"></circle>
                <circle cx="16.85" cy="69.96" r="2.97" transform="translate(-54.7 62.37) rotate(-70.41)"></circle>
                <path d="M54.82,43.8a2.5,2.5,0,0,0-2.5-2.5H27.94a2.5,2.5,0,1,0,0,5H52.32A2.5,2.5,0,0,0,54.82,43.8Z"></path>
                <path d="M27.94,54.38a2.5,2.5,0,1,0,0,5H44.35a2.5,2.5,0,1,0,0-5Z"></path>
                <path d="M36,67.46h-8a2.5,2.5,0,1,0,0,5h8a2.5,2.5,0,0,0,0-5Z"></path>
                <text x="0" y="115" fill="#000000" font-size="5px" font-weight="bold"
                      font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif">Created by Gregor
                    Cresnar
                </text>
                <text x="0" y="120" fill="#000000" font-size="5px" font-weight="bold"
                      font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif">from the Noun
                    Project
                </text>
            </svg>
            <br>
            <h3>Voting Polls</h3>
            <p>Vote and view poll results easily</p></div>
    </div>
    <div class="row mb-4 mt-3">
        <div class="col-md-8">
            <h3 class="display-4">The Story And The Technology</h3>
            <hr class="bg-dark w-25 ml-0">
            <p class="lead">
              Finding a suitable time, date and place for an event alongside finding the most straightforward and fastest approach in planning and setting up a event of any type is a common practical problem faced by many people today.
            </p>
            <p>
              LinkUp improves wellbeing, motivation, productivity while reducing cognitive load. LinkUp takes the standard Doodle and similar alternatives, to another level combining intuitive functionality and design which is more personal and flexible tackling the inflexibility and rigidness surrounding scheduling events with multiple places, dates and times as well as creating polls.
            </p>
            <ul class="list-unstyled pl-4">
              <h1>Main Features</h1>
              <li><i class="fa fa-check"></i> Schedule events or and create polls quickly</li>
              <li><i class="fa fa-check"></i> Personal Dashboard</li>
              <li><i class="fa fa-check"></i> Notifications</li>
            </ul>
          <!--  <a href="#" class="btn btn-outline-primary rounded-0"> Read More</a>-->
        </div>
        <div class="col-md-4 mt-5">
              <img class="card-img-top" src="https://i.ibb.co/6WjZHPn/4bLZ8XY.png" alt="Card image cap">
        </div>
    </div>
{% endblock %}
